* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: antiquewhite;
}

.logo {
  width: 150px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

.search_bar {
  display: flex;
  align-items: center;
}

.search_bar input {
  height: 40px;
  padding: 10px;
  border: 1px solid #7c17f7;
  border-radius: 5px 0 0 5px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  width: 250px;
}

input:focus-visible {
  outline: #7c17f7;
}

input::placeholder {
  color: #b3b3b3;
}

.button {
  height: 40px;
  border: 1px solid #7c17f7;
  background-color: #7c17f7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  font-style: 500;
  cursor: pointer;
}

.usericon {
  width: 30px;
  height: auto;
}

.usericon img {
  width: 100%;
  height: 100%;
}
